
 <p>Dear $recipient,</p>
    <p>How are you? you are so mafucking low key man hit me up and we get to the yapping</p>
    <p>Nigga since Day one have been A1 ,i aint choping with the fakes yo.</p>
    <p>Lately we have been scheming on a heist.My dawg got shot down and i aint pulling off coz im finna hold thir fam down </p>
    <p>Is you down or what nigga??</p>
    <p>Cheers,and hit me up</p>
   <p>CEO $sender</p>
    <p><a href='/favorite_photos' >Check out The rides, Crew and the guns Coz we going in loud asf.</a></p>
    <p><a href='/form' >RESPOND.</a></p>